<header class="p-4 flex items-center justify-between">
    <a href="/" class="font-bold text-2xl">⚡️ Adonis</a>
    <nav class="flex gap-4 items-center">
        <a href="{{route("home")}}">Home</a>
        <a href="{{route("movies.index")}}">Movies</a>
        <a href="{{route("dashboard")}}">Dashboard</a>
    </nav>
</header>