<dd class="flex gap-4 items-center">
    <div class="w-20 h-20 p-1 bg-white rounded-full">
        <img src="{{$props.cineast.headshotUrl}}" class="w-full h-full rounded-full" />
    </div>
    <div class="flex flex-col">
        <a href="">{{$props.cineast.fullName}}</a>
        <span class="text-gray-500">{{$props.name}}</span>
    </div>
</dd>